/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

 .search-box h2 
 {
 	margin-bottom: -15px;
 }

 .promo-box 
 {
 	margin-top: 30px !important;
 }

 .btn-extra 
 {
 	margin-top: 10px;
 }

.blue-header
 {
 	margin-left: 15%;
 }

#header .mobile-menu
 {
 	background: #fff;
 }

 #header .mobile-menu a 
 {
 	color:#000000;
 }

 #header .ribbon > a 
 {
 	padding: 0px 14px 0px 10px;
 }
